
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #82d0ee;
    --secondary-color: #f44336;
    --text-color: #f0f0f0;
    --background-color: #0a0a0a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.header-main {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    display: flex; 
}
